openapi: 3.0.3
info:
  title: CAOS API Documentation
  description: |
    Computer Aided Operations & Services (CAOS) REST API
    
    This API provides programmatic access to CAOS system functionality for:
    - Flight planning and optimization
    - Aircraft health monitoring
    - Predictive maintenance
    - Fleet analytics
    - Digital twin operations
    
  version: 1.0.0
  contact:
    name: CAOS API Support
    email: api-support@ampel360.aero
    url: https://api.ampel360.aero/docs
  license:
    name: Proprietary
    url: https://ampel360.aero/legal/api-license

servers:
  - url: https://api.ampel360.aero/v1
    description: Production API
  - url: https://api-staging.ampel360.aero/v1
    description: Staging API
  - url: https://api-dev.ampel360.aero/v1
    description: Development API

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Flight Planning
    description: Flight planning and optimization endpoints
  - name: Aircraft Health
    description: Real-time aircraft health monitoring
  - name: Predictive Maintenance
    description: Predictive maintenance and alerts
  - name: Digital Twin
    description: Digital twin operations
  - name: Fleet Analytics
    description: Fleet-wide analytics and insights

paths:
  /flight-plan:
    post:
      tags:
        - Flight Planning
      summary: Generate optimized flight plan
      description: Creates an AI-optimized flight plan based on provided parameters
      operationId: generateFlightPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightPlanRequest'
      responses:
        '200':
          description: Flight plan generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightPlanResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

  /aircraft/{tailNumber}/health:
    get:
      tags:
        - Aircraft Health
      summary: Get aircraft health status
      description: Retrieves current health status for specified aircraft
      operationId: getAircraftHealth
      parameters:
        - name: tailNumber
          in: path
          required: true
          schema:
            type: string
          example: "N360AMP"
      responses:
        '200':
          description: Health status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftHealth'
        '404':
          description: Aircraft not found

  /aircraft/{tailNumber}/predictions:
    get:
      tags:
        - Predictive Maintenance
      summary: Get maintenance predictions
      description: Retrieves predictive maintenance alerts for aircraft
      operationId: getPredictions
      parameters:
        - name: tailNumber
          in: path
          required: true
          schema:
            type: string
        - name: horizon
          in: query
          schema:
            type: integer
            default: 500
          description: Prediction horizon in flight hours
      responses:
        '200':
          description: Predictions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionsResponse'

  /digital-twin/{tailNumber}:
    get:
      tags:
        - Digital Twin
      summary: Get digital twin state
      description: Retrieves current digital twin state
      operationId: getDigitalTwinState
      parameters:
        - name: tailNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Digital twin state retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinState'

  /digital-twin/{tailNumber}/stream:
    get:
      tags:
        - Digital Twin
      summary: Stream digital twin updates
      description: WebSocket endpoint for real-time digital twin updates
      operationId: streamDigitalTwin
      parameters:
        - name: tailNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Switching to WebSocket protocol

  /fleet/analytics:
    get:
      tags:
        - Fleet Analytics
      summary: Get fleet analytics
      description: Retrieves fleet-wide performance analytics
      operationId: getFleetAnalytics
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: metric
          in: query
          schema:
            type: string
            enum: [efficiency, reliability, maintenance_cost, availability]
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetAnalytics'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    FlightPlanRequest:
      type: object
      required:
        - origin
        - destination
        - departureTime
        - payload
      properties:
        origin:
          type: string
          description: ICAO airport code
          example: "EDDF"
        destination:
          type: string
          description: ICAO airport code
          example: "KJFK"
        departureTime:
          type: string
          format: date-time
          example: "2025-11-05T14:30:00Z"
        payload:
          type: number
          description: Payload weight in kg
          example: 18000
        passengers:
          type: integer
          example: 220
        alternates:
          type: array
          items:
            type: string
          example: ["KEWR", "KPHL"]

    FlightPlanResponse:
      type: object
      properties:
        flightPlanId:
          type: string
          format: uuid
        route:
          type: array
          items:
            $ref: '#/components/schemas/Waypoint'
        fuelRequired:
          type: object
          properties:
            h2_kg:
              type: number
              example: 850
            reserve_kg:
              type: number
              example: 150
        estimatedTime:
          type: integer
          description: Flight time in minutes
          example: 480
        cruiseAltitude:
          type: integer
          example: 38000
        optimizationScore:
          type: number
          description: Optimization score (0-100)
          example: 92.5

    Waypoint:
      type: object
      properties:
        identifier:
          type: string
          example: "KOBLI"
        latitude:
          type: number
          example: 50.0336
        longitude:
          type: number
          example: 8.5706
        altitude:
          type: integer
          example: 38000
        estimatedTime:
          type: string
          format: date-time

    AircraftHealth:
      type: object
      properties:
        tailNumber:
          type: string
          example: "N360AMP"
        timestamp:
          type: string
          format: date-time
        overallHealth:
          type: number
          description: Health score 0-100
          example: 94.5
        systems:
          type: array
          items:
            $ref: '#/components/schemas/SystemHealth'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'

    SystemHealth:
      type: object
      properties:
        systemName:
          type: string
          example: "Fuel Cell #1"
        healthScore:
          type: number
          example: 96.2
        status:
          type: string
          enum: [normal, advisory, caution, warning]
        metrics:
          type: object
          additionalProperties:
            type: number

    Alert:
      type: object
      properties:
        alertId:
          type: string
          format: uuid
        severity:
          type: string
          enum: [info, warning, caution, critical]
        system:
          type: string
        message:
          type: string
        predictedFailureTime:
          type: string
          format: date-time
        recommendedAction:
          type: string

    PredictionsResponse:
      type: object
      properties:
        tailNumber:
          type: string
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'

    Prediction:
      type: object
      properties:
        component:
          type: string
          example: "Fuel Cell Stack #1"
        predictionType:
          type: string
          example: "degradation"
        currentHealth:
          type: number
          example: 96.5
        predictedHealth:
          type: number
          example: 92.0
        horizon:
          type: integer
          description: Flight hours ahead
          example: 500
        confidence:
          type: number
          description: Confidence level 0-1
          example: 0.85
        recommendedAction:
          type: string

    DigitalTwinState:
      type: object
      properties:
        tailNumber:
          type: string
        timestamp:
          type: string
          format: date-time
        position:
          $ref: '#/components/schemas/Position'
        fuelSystem:
          $ref: '#/components/schemas/FuelSystemState'
        powerSystem:
          $ref: '#/components/schemas/PowerSystemState'
        flightDynamics:
          $ref: '#/components/schemas/FlightDynamicsState'

    Position:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
        altitude:
          type: number
        heading:
          type: number

    FuelSystemState:
      type: object
      properties:
        tanks:
          type: array
          items:
            type: object
            properties:
              tankId:
                type: string
              quantity_kg:
                type: number
              pressure_bar:
                type: number
              temperature_C:
                type: number
        totalRemaining_kg:
          type: number
        flowRate_kg_hr:
          type: number

    PowerSystemState:
      type: object
      properties:
        fuelCells:
          type: array
          items:
            type: object
            properties:
              cellId:
                type: string
              voltage:
                type: number
              current:
                type: number
              temperature:
                type: number
              efficiency:
                type: number
        batteries:
          type: array
          items:
            type: object
            properties:
              batteryId:
                type: string
              stateOfCharge:
                type: number
              voltage:
                type: number

    FlightDynamicsState:
      type: object
      properties:
        airspeed_kts:
          type: number
        groundSpeed_kts:
          type: number
        verticalSpeed_fpm:
          type: number
        pitch_deg:
          type: number
        roll_deg:
          type: number
        heading_deg:
          type: number

    FleetAnalytics:
      type: object
      properties:
        period:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        fleetSize:
          type: integer
        totalFlightHours:
          type: number
        metrics:
          type: object
          properties:
            avgEfficiency:
              type: number
            avgReliability:
              type: number
            totalMaintenanceCost:
              type: number
            avgAvailability:
              type: number

  responses:
    UnauthorizedError:
      description: Authentication required
    NotFoundError:
      description: Resource not found
    ValidationError:
      description: Request validation failed

externalDocs:
  description: CAOS Developer Portal
  url: https://developers.ampel360.aero/caos
